.searchBarContainer {
  display: flex;
  align-items: center;
<<<<<<< HEAD
  background-color: 'var(--background)';

=======
  background-color: var(--background);
>>>>>>> 6ef23bc82e8b9a97729bf43c6813b6a720f4caf7
  border-radius: 12px;
  padding: 12px;
  width: 527px;
  gap: 8px;
}

.searchInput {
  font-family: var(--main-font);
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  letter-spacing: 2%;
  color: var(--text);
  flex: 1;
}

.searchInput::placeholder {
  color: var(--placeholder-color);
  opacity: 1;
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchIcon {
  width: 19.07px;
  height: 19.07px;
  padding: 2px;
<<<<<<< HEAD
  fill: 'var(--caption)';
=======
  fill: var(--caption);
>>>>>>> 6ef23bc82e8b9a97729bf43c6813b6a720f4caf7
}

.clearIcon {
  width: 10.61px;
  height: 10.61px;
  padding: 6.7px 6.67px;
<<<<<<< HEAD
  fill: 'var(--text)';
=======
  fill: var(--text);
>>>>>>> 6ef23bc82e8b9a97729bf43c6813b6a720f4caf7
}

.small {
  width: 300px; /* Я не нашла маленький размер в макете */
}

.medium {
  width: 527px;
}

.large {
  width: 648px;
}
