.megamenu {
    width: 1016px;
    height: 1042px;
    display: flex;
    flex-flow: column wrap;
    color: var(--text);
    border: 1px solid var(--caption);
    border-radius: 12px;
    padding: 60px;
    gap: 40px;
}

.megamenu_section {
    width: 436px;
    padding-left: 52px;
}

.megamenu_section h2 {
    margin: 0;
    padding-bottom: 10px;
    font-family: var(--accent-font), serif;
    font-size: 24px;
}

.megamenu_section ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.megamenu_section ul li {
    display: block;
    font-family: var(--main-font), serif;
    font-size: 16px;
    line-height: 24px;
}

.megamenu_link {
    color: var(--text);
    text-decoration: none;
}

.megamenu_link:hover {
    text-decoration: underline;
}

.megamenu_subtitle {
    display: flex;
    gap: 12px;
    margin-left: -50px;
}

.megamenu_icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--accent);
}
