.container {
  display: flex;
  width: 284px;
  flex-direction: column;
  row-gap: 8px;
  padding: 0;
  margin-bottom: 24px;
}

.group {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  max-width: fit-content;
}

.item {
  position: relative;
  display: flex;
  flex-direction: row;
}

.label {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: 24px;
  padding-left: 16px;
  text-align: center;
  cursor: pointer;
}

input[type='checkbox']:after {
  width: 18px;
  height: 18px;
  border-radius: 25%;
  top: 2px;
  left: 2px;
  position: absolute;
  background-color: var(--input);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #253017;
}

input[type='checkbox']:checked::before {
  width: 20px;
  height: 20px;
  top: -1px;
  left: 10px;
  position: absolute;
  content: '-';
  z-index: 1;
  color: var(--input);
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  visibility: visible;
}
input[type='checkbox']:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 30%;
  top: 2px;
  left: 2px;
  position: absolute;
  background-color: #abd27a;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #abd27a;
}

.group_checkboxOption_buttonContainer {
  top: 2px;
  right: -100px;
  position: absolute;
  content: '';
  visibility: visible;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 24px;
  text-align: center;
  cursor: pointer;
}

.footerText_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: 24px;
  text-align: center;
  cursor: pointer;
  padding-top: 16px;
}

/*убрать, когда кнопка заменится на компонент*/

.checkboxOption_button {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  background-color: transparent;
  color: var(--text);
  height: 24px;
  width: 24px;
  border: none;
  font-size: 12px;
  line-height: 1;
}
