p {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
}

.container {
  padding: 48px 0 0 50px;
  background-color: var(--card);
  border-radius: 20px;
  width: 324px;
}

.section {
  margin-bottom: 32px;
}

.section:last-child {
  margin-bottom: 0;
}

.title {
  padding-bottom: 20px;
}

.sectionTitle {
  padding-bottom: 16px;
}

.toggleButton {
  display: flex;
  align-items: start;
  gap: 10px;
  background-color: transparent;
  border: none;
}

.skillCategoryHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
}

.subcategories {
  padding-left: 36px;
}

.Icon_skill {
  display: flex;
  margin-top: 8px;
  width: 16px;
  height: 16px;
  background: url('./checkbox-lists/chevron-down.svg') no-repeat center center;
  background-size: contain;
}

.Icon_skill.open {
  transform: rotate(180deg);
}

.chevronIcon {
  display: flex;
  margin-top: 3px;
  width: 16px;
  height: 16px;
  background: url('./checkbox-lists/chevron-down.svg') no-repeat center center;
  background-size: contain;
}

.chevronIcon.open {
  transform: rotate(180deg);
}

.checkboxCategory {
  appearance: none;
  position: relative;
  width: 24px;
  height: 24px;
  background: var(--input);
  border-radius: 4px;
  border: 2px solid white;
  content: '';
}

.checkboxSubcategory {
  appearance: none;
  position: relative;
  width: 24px;
  height: 24px;
  background: var(--input);
  border-radius: 4px;
  border: 2px solid white;
  content: '';
}

.checkboxCategory::after {
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
  background: url('./checkbox-lists/checkbox-empty.svg') center/contain
    no-repeat;
  content: '';
}

.checkboxSubcategory::after {
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
  background: url('./checkbox-lists/checkbox-empty.svg') center/contain
    no-repeat;
  content: '';
}

.checkboxCategory:checked::after {
  background: url('./checkbox-lists/checkbox-cat.svg') no-repeat center center;
  background-color: var(--input);
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  content: '';
}

.checkboxCategory:disabled::after {
  background: url('./checkbox-lists/checkbox-empty.svg') no-repeat center center;
  background-color: var(--input);
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  content: '';
}

.checkboxSubcategory:disabled::after {
  background: url('./checkbox-lists/checkbox-empty.svg') no-repeat center center;
  background-color: var(--input);
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  content: '';
}

.checkboxSubcategory:checked::after {
  background: url('./checkbox-lists/checkbox-done.svg') no-repeat center center;
  background-color: var(--input);
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  content: '';
}
