.container {
  display: flex;
  width: 284px;
  flex-direction: column;
  row-gap: 8px;
  padding: 0;
}

.group {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.item {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-bottom: 12px;
}

.label {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: 24px;
  padding-left: 18px;
  text-align: center;
  cursor: pointer;
}
