.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background);
  min-height: 100%;
}

.main {
  flex: 1;
  overflow: hidden;
  scrollbar-width: none;
}
.footer {
  position: relative;
}
