.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.logoName {
  color: var(--Text, #253017);
  font-family: (--accent-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}

.logoIcon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
